APP_ENV=local
APP_DEBUG=true
APP_KEY=
APP_TIMEZONE=UTC

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
QUEUE_DRIVER=sync

PROVIDER_ROOT=https://root.opendiscovery.biz

RESOLVER_TTL_MIN=600
RESOLVER_TTL_MAX=43200
RESOLVER_TTL_DEFAULT=3600

USER_TTL=3600
